<div class="container-fluid">
    <div class="card" style="width: 18rem; margin-top: 50px;">
        <div class="card-header">
            Menu
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="{{ path('commercial') }}">Commercial <span class="badge badge-danger">4</span></a></li>
            <li class="list-group-item">Fiche de prospection</li>
            <li class="list-group-item">Type de contrat</li>
            <li class="list-group-item">Type de prospection</li>
            <li class="list-group-item">Commune</li>
            <li class="list-group-item">Quartier</li>
            <li class="list-group-item">Zone</li>
            <li class="list-group-item">Prospect</li>
        </ul>
    </div>
</div>
